html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*END CSS RESET */

@font-face{
    font-family: klavikaBold;
     src: url("/fonts/Klavika-Bold.otf") format("opentype");
   
}

@font-face{
    font-family: klavikaReg; 
    src: url("/fonts/Klavika-Regular.otf") format ("opentype"); 
    
}

body{
    /*background-color: #eeeeed; */
    background-color: #FFFFFF; 
}

a{
    -o-transition: 1s; 
    -ms-transition: 1s; 
    -moz-transition: 1s; 
    -webkit-transition: 1s; 
    transition: 1s; 
    text-decoration: none; 
}
em{
    font-style: oblique; 
}

strong{
    font-style: bold; 
}
img{
    height:100%; 
}
h1,h2,h3,h4,h5{
    font-family: klavikaBold, Helvetica Neue, sans-serif; 
    /*font-family: Helvetica Neue, sans-serif; */
    font-style: normal; 
}
h3{
    text-transform: capitalize;
    font-style: italic; 
    font-size: 1em; 
    padding: 0 0 1% 0; 
    color: #1F52AD; 
    font-weight: 800; 
}

header{
    width: 100%;
    text-align: center;
}

#bouncyBall{
    margin: 0 auto; 
    width: 60%; 
    margin-bottom: -20%; 
}

#canvas{
    /* Full height */
    width: 100%; 
    height: 100%; 
    z-index: -1; 
    /* Create the parallax scrolling effect */
    /*background-attachment: fixed;*/
    position: fixed; 
    /*background-size: cover;*/
    top: 0; 
    left: 0; 
    /*margin: 0px 0 0 0; */
}

/*
#canvas{
    
    width:100%;
    height: 100%; 
    margin: 0% 0 3% 0; 
}*/

#captionLeft{
    opacity: 0; 
    display: block; 
    font-family: klavikaBold, sans-serif; 
    text-align: center; 
    padding-top: 20px;
    -o-transition: 1s; 
    -ms-transition: 1s; 
    -moz-transition: 1s; 
    -webkit-transition: 1s; 
    transition: 1s; 
    
}

#captionRight{
    opacity: 0; 
    display: block; 
    font-family: klavikaBold, sans-serif; 
    text-align: center; 
    padding-top: 20px;
    -o-transition: 1s; 
    -ms-transition: 1s; 
    -moz-transition: 1s; 
    -webkit-transition: 1s; 
    transition: 1s; 
    
}

#imgLeft:hover + #captionLeft{
    opacity: 1; 
}

#imgRight:hover + #captionRight{
    opacity: 1; 
}

.contact img{
    text-align: center; 
    width: 100px; 
}
.wrapper{
    z-index: 1; 
    max-width: 1150px;
    margin: 0 auto; 
    font-family: klavikaReg, sans-serif; 
}
.meWrapper{
    height: 450px; 
    z-index: 1;
    margin: 300px 0 0 0; 
}
.meWrapper h3{
    font-size: 5em; 
    color: #FFE600; 
}


.workWrapper h3{
    padding: 35% 0 0 0; 
    font-size: 5em; 
    color: #FFE600; 
}
.workWrapper .work h3{
    font-size: 1.5em; 
    color: #1F52AD; 
}
.work{
    height: 359px;
    padding: 5% 0;
}
.work-first{
    height: 359px;
    padding: 0% 0 5% 0; 
}
.work-me{
    height:359px; 
    /*padding: 0% 0 15% 0;*/
}

.work-me h3{
    font-size: 1.5em; 
    color: #1F52AD; 
}
.work-last{
    height: 359px;
    padding: 5% 0 5% 0;  
}

.work-first h3{
    font-size: 1.5em; 
    color: #1F52AD; 
    padding: 0 0 1% 0; 
}

.work-last h3{
    font-size: 1.5em; 
    color: #1F52AD; 
    padding: 0 0 1% 0; 
}
.work h3{
    padding: 0% 0% 2% 0%; 
}
.text-box{
    float:right;
    text-align: left; 
    width:550px; 
    /*background-color: #fff; */
    background-color: #A3D6DA;
    opacity: 0.9; 
    height: 100%; 
}
.text-box-content{
    padding: 4% 4%; 
}
.text-box-content p{
    line-height: 1.8; 
    color: #1F52AD;
    letter-spacing: 0.04em; 
    font-size: 0.8em; 
}

.me-header {
    text-align: left; 
    font-size: 3em; 
    color: #FFE600;
}

.me-header h3{
    color: #FFE600; 
}

.work-header {
    text-align: left;
    color: #FFE600;
}

.work-header h3{
    color: #FFE600; 
}

.skills-header {
    color: #FFE600; 
    text-align: left; 
    font-size: 3em; 
}

.skills-header h3{
    color: #FFE600;
}

.skillsBottom{
    width: 100%;
    margin-top: 3%; 
    height: 420px; 
}

#skillsBottom h3{
    text-align: left; 
    font-size: 5em; 
    margin-top: 25%; 
    color: #FFE600;
}

.skills-coloumns{
    float:left; 
    width: 50%; 
}

.skills-coloumns p{
    font-family: klavikaReg, sans-serif; 
    /*color: #55556b;*/
    color: #FFE600;
    font-size: 0.9em; 
    font-weight: 700; 
}


#bar{
    height: 30px; 
    margin: 1% 2% 5% 0% ; 
    /*background-color: #707070; */
    background-color: #F46CB0;
    /*-webkit-animation-duration: infinite; */
}

#bar p{
    text-align: center; 
    padding-top:7.5; 
    color: white;
}
.techniques{
    padding: 2% 2%; 
    text-align: center;
    border: 1px solid #55556b;
    text-decoration: none; 
    font-weight: 100; 
}

.techniques li{ 
    display: inline;
    font-size: 75%; 
    padding: 0 2%; 
    color: #55556b; 
}

.image-area{
    width: 550px; 
    height: 359px;
    overflow: hidden; 
}

.left{
    float:left;
}
.right{
    float:right; 
}


.left #line{
    width: 0px;
    margin-left: 573.5px; 
    height: 358px; 
    position: absolute; 
    border: 3px solid #FFE600;
}

.right #line{
    width: 0px;
    margin-left: -25.5px; 
    height: 358px; 
    position: absolute; 
    border: 3px solid #FFE600; 
}


footer{
    background-color: #FFFFFF;
    /*padding: 6% 0 4% 0;*/
    width: 20%;
    z-index: 1; 
    clear:both; 
    margin: 0 auto; 
}

.footer-content{
    max-width: 960px; 
    padding: 0% 1% 0% 1%; 
    margin: 0 auto; 
    font-family: Helvetica Neue, sans-serif; 
    font-style: normal; 
    font-weight: 200; 
    color: white; 
    line-height: 1.4; 
    letter-spacing: 0.03em; 
    font-size: 50%; 
}

.footer-content p{
    color: #1F52AD; 
}
.credit{
    text-align: center;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }

@media only screen and (max-width: 1180px){
    .wrapper{
        padding: 0 8%; 
    }
    work{
        padding: 10% 0; 
    }
    
    .work-me .text-box{
        margin-bottom: 15%
    }
    
    .work-last .text-box{
        margin-bottom: 15%; 
    }
    .image-area{
        position:relative;
        width:100%; 
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 0px; 
        height: 0; 
    }
    .image-area iframe{
        position: absolute; 
        top:0; 
        left: 0; 
        width:100%; 
        height:100%; 
    }
    .text-box{
        width: 100%; 
        height: auto; 
        margin-bottom: 10%; 
    }
    
    .left #line{
        display: none; 
    }

    .right #line{
        display: none; 
    }
    h3{
        font-size: 2em; 
        font-weight: 700; 
    }
    
    #skillsBottom h3{
        font-size: 2.5em; 
        font-weight: 700; 
    }

    .workWrapper h3{
        font-size: 2.5em; 
        font-weight: 700; 
    }

    .workWrapper .work-first h3{
        font-size: 1.5em; 
        font-weight: 700; 
    }

    .workWrapper .work-last h3{
        font-size: 1.5em; 
        font-weight: 700; 
    }

    .meWrapper h3{
        font-size: 2.5em; 
        font-weight: 400; 
    }

    .socail li a{
        font-size: 60%; 
    }
    .footer-content{
        padding: 0%; 
    
    }
    .text-box p{
        font-size: 0.8em; 
    }

    #captionLeft{
     opacity: 1;    
    }
    #captionRight{
     opacity: 1;    
    }
    
    #bar{
        height: 15px; 
    }
    
    #bar p{
    font-size: 0.5em; 
    padding-top:4.5; 
    }
}

@media only screen and (max-width: 800px){
    
    .intro h1{
        font-size: 80%; 
        line-height: 1.1; 
    }
    .intro h2{
        font-size: 60%; 
        padding-top: 3%; 
    }
    .about p{
        font-size: 50%; 
        line-height: 2; 
    }
    
    footer{
        height: 10px; 
        line-height: 1.3em; 
    }
    
    footer-content{
        padding:2%; 
        font-size: 14px; 
    }
    
    .work-me .text-box{
        margin-bottom: 15%
    }
    
    .work-last .text-box{
        margin-bottom: 15%; 
    }
    .contact img{
        text-align: center; 
        width: 60px; 
    }
    
    #bouncyBall{
        margin: 0 auto; 
        width: 60%; 
        margin-bottom: -40%; 
    }



















