html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*END CSS RESET */

@font-face{
    font-family: klavikaBold;
     src: url("/fonts/Klavika-Bold.otf") format("opentype");
   
}

@font-face{
    font-family: klavikaReg; 
    src: url("/fonts/Klavika-Regular.otf") format ("opentype"); 
    
}

body{
    /*background-color: #eeeeed; */
    background-color: #D9D9D9; 
}

a{
    -o-transition: 1s; 
    -ms-transition: 1s; 
    -moz-transition: 1s; 
    -webkit-transition: 1s; 
    transition: 1s; 
    text-decoration: none; 
}
em{
    font-style: oblique; 
}

strong{
    font-style: bold; 
}
img{
    width:100%; 
}
h1,h2,h3,h4,h5{
    font-family: klavikaBold, Helvetica Neue, sans-serif; 
    /*font-family: Helvetica Neue, sans-serif; */
    font-style: normal; 
}
h3{
    text-transform: capitalize; 
    font-size: 1.7em; 
    padding: 0 0 1% 0; 
    color: #55556b; 
    font-weight: 800; 
}

header{
    width: 100%;
    text-align: center; 
    max-height: 550px;
}
.contact{
    width: 100%; 
    height: 300px; 
   /* background-color: gray; */
    margin: 15% 0 0% 0; 
    clear: both; 
}
.contactWrapper{
    max-width: 1100px; 
    margin: 0 auto; 
}
.contact-items{
    max-width:1100px; 
    margin: 0 auto; 
    /*padding-top: 120px; */
}

.contactItemLeft{
    float:left; 
    width:50%; 
}

.contactItemRight{
    float:right; 
    width:50%;
}

#captionLeft{
    opacity: 0; 
    display: block; 
    font-family: klavikaBold, sans-serif; 
    text-align: center; 
    padding-top: 20px;
    -o-transition: 1s; 
    -ms-transition: 1s; 
    -moz-transition: 1s; 
    -webkit-transition: 1s; 
    transition: 1s; 
    
}

#captionRight{
    opacity: 0; 
    display: block; 
    font-family: klavikaBold, sans-serif; 
    text-align: center; 
    padding-top: 20px;
    -o-transition: 1s; 
    -ms-transition: 1s; 
    -moz-transition: 1s; 
    -webkit-transition: 1s; 
    transition: 1s; 
    
}

#imgLeft:hover + #captionLeft{
    opacity: 1; 
}

#imgRight:hover + #captionRight{
    opacity: 1; 
}

.contact img{
    text-align: center; 
    width: 100px; 
}
.wrapper{
    max-width: 1100px; 
    margin: 0 auto; 
    font-family: klavikaReg, sans-serif; 
}
.meWrapper{
    height: 450px
}
.meWrapper h3{
    font-size: 2.1em; 
    color: black; 
}


.workWrapper h3{
    font-size: 2.1em; 
    color: black; 
}
.workWrapper .work h3{
    font-size: 1.5em; 
    color: #55556b; 
}
.work{
    height: 359px;
    padding: 2% 0; */
}
.work-first{
    height: 359px;
    padding: 0% 0 2% 0; 
}
.work-me{
    height:359px; 
    /*padding: 2% 0 15% 0; */
}
.work-last{
    height: 359px;
    padding: 2% 0 2% 0;  
}

.work-first h3{
    font-size: 1.5em; 
    color: #55556b; 
}

.work-last h3{
    font-size: 1.5em; 
    color: #55556b; 
}
.work h3{
    padding: 0% 0% 2% 0%; 
}
.text-box{
    float:left;  
    text-align: left; 
    width:550px; 
    /*background-color: #fff; */
    background-color: #F2F1F0; 
    height: 100%; 
}
.text-box-content{
    padding: 4% 4%; 
}
.text-box-content p{
    line-height: 1.8; 
    color: #55556b;
    letter-spacing: 0.04em; 
    font-size: 0.8em; 
}

.me-header {
    text-align: left; 
    font-size: 2.1em; 
}

.me-header h3{
    color: black; 
}

.work-header {
    text-align: left;
    font-size: 2.1em; 
}

.work-header h3{
    color: black; 
}

.skills-header {
    color: #3435ff; 
    text-align: left; 
    font-size: 2.1em; 
}

.skills-header h3{
    color: black; 
}

.skillsBottom{
    width: 100%;
    margin-top: 3%; 
    height: 420px; 
}

.skillsBottom h3{
    text-align: left; 
    font-size: 2.1em; 
    color: black; 
}

.skills-coloumns{
    float:left; 
    width: 50%; 
}

.skills-coloumns p{
    font-family: klavikaReg, sans-serif; 
    /*color: #55556b;*/
    color: black
    font-size: 1.1em; 
    font-weight: 700; 
}


#bar{
    height: 30px; 
    margin: 1% 2% 5% 0% ; 
    /*background-color: #707070; */
    background-color: #55556b;
    /*-webkit-animation-duration: infinite; */
}

#bar p{
    text-align: center; 
    padding-top:7.5; 
    color: white;
}
.techniques{
    padding: 2% 2%; 
    text-align: center;
    border: 1px solid #55556b;
    text-decoration: none; 
    font-weight: 100; 
}

.techniques li{ 
    display: inline;
    font-size: 75%; 
    padding: 0 2%; 
    color: #55556b; 
}

.image-area{
    width: 550px; 
    height: 359px;
    overflow: hidden; 
}

.left{
    float:left; 
}
.right{
    float:right; 
}


footer{
    background-color: #D9D9D9; 
    color: #fff; 
    padding: 6% 0 4% 0; 
    width: 100%; 
    clear: both; 
    height: 10px; 
}
.footer-content{
    max-width: 960px; 
    padding: 0% 1% 0% 1%; 
    margin: 0 auto; 
    font-family: Helvetica Neue, sans-serif; 
    font-style: normal; 
    font-weight: 200; 
    color: white; 
    line-height: 1.4; 
    letter-spacing: 0.03em; 
    font-size: 50%; 
}
.credit{
    /*float:left;*/
    text-align: center; 
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }

@media only screen and (max-width: 1180px){
    .wrapper{
        padding: 0 8%; 
    }
    work{
        padding: 10% 0; 
    }
    
    .work-me .text-box{
        margin-bottom: 15%
    }
    
    .work-last .text-box{
        margin-bottom: 15%; 
    }
    .image-area{
        position:relative;
        width:100%; 
        /*float:left; 
        width: 100%; 
        height: auto; */
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 0px; 
        height: 0; 
    }
    .image-area iframe{
        position: absolute; 
        top:0; 
        left: 0; 
        width:100%; 
        height:100%; 
    }
    .text-box{
        width: 100%; 
        height: auto; 
        margin-bottom: 10%; 
    }
    h3{
        font-size: 2em; 
        font-weight: 400; 
    }
    .socail li a{
        font-size: 60%; 
    }
    .footer-content{
        padding: 0%; 
    
    }
    .text-box p{
        font-size: 1.2em; 
    }

    #captionLeft{
     opacity: 1;    
    }
    #captionRight{
     opacity: 1;    
    }
    
    /* .skillsBottom{
        height: 300px; 
        background-image: url("../images/skills.gif"); 
        background-size: cover; 
    }
    
    .skills-coloumns{
        display: none; 
    }
    #skillGif{
        display: block; 
    }*/
}

@media only screen and (max-width: 800px){
    
    .intro h1{
        font-size: 80%; 
        line-height: 1.1; 
    }
    .intro h2{
        font-size: 60%; 
        padding-top: 3%; 
    }
    .about p{
        font-size: 50%; 
        line-height: 2; 
    }
    
    
    footer{
        height: 10px; 
        line-height: 1.3em; 
    }
    
    footer-content{
        padding:2%; 
        font-size: 14px; 
    }
    .social {
        float:left; 
    }
    .social li a {
        font-size: 1.3em; 
    }
    .contact-content{
        font-size: 12px; 
        line-height: 1.5; 
    }
    
    .work-me .text-box{
        margin-bottom: 15%
    }
    
    .work-last .text-box{
        margin-bottom: 15%; 
    }
    .contact img{
        text-align: center; 
        width: 60px; 
    }



















